.upload-panel{
    
    width: 576px;
    height: 673px;
    display: flex;
    flex-direction: column;
    align-content: center;

background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.244455);
}
.background-image{
    width: 300px;
}
.upload-section{
    width: 300px;
}
.upload-content{
    font-family: 'Salesforce Sans';
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px;
}
.upload-content-heading{
    font-size: 20px;
  
    line-height: 25px;
    height: 25px;
    width: 300px;
   
    border-radius: nullpx;

}
.upload-content-text{
   
    font-size: 13px;
    
    line-height: 20px;
  
}
.upload-content > div{
    margin: 3px;
}
/* .modal-content{
    display: flex;
    flex-direction: row;
    font-family: 'Salesforce Sans';
    font-style: normal;
    font-weight: 400;
   
}
.modal-content-filename{
    height: 20px;
    font-size: 13px;
    line-height: 20px;
} */