.question-panel{
    background: #F8F9FA;
    
}
.main-container{
    background: #F8F9FA;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.question-creation{
    background: #F8F9FA;

}