img {
    display: block;
    width: 95%;
    height: 43rem;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;

}

/* .documnet-container{
    /* position: relative;
background: #B1B3B6;
 max-width: 98%;
height: 99%; 


} */

.main-wrapper{
position: absolute;
background: #F8F9FA;;

width: 33.3333333333%;

}